@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.simple-curve {
  clip-path: ellipse(100% 170% at 0% 50%);
}